
:root {
    --bg3: oklch(0.05 0.01 240);
    --bg2: oklch(0.20 0.01 240);
    --bg1: oklch(0.30 0.01 240);
    --bord: oklch(0.40 0.01 240);

    --fc1: oklch(0.95 0.01 240);
    --fc2: oklch(0.9 0.01 240);
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: var(--fc1);
}



.title {
    margin: 20px;
    text-align: center;
    font-size: 2rem;
    background-color: var(--bg2);
    padding: 15px;
    border-radius: 5px;
    border-top: var(--bord);
}

.task-input {
    background-color: var(--bg2);
    border: none;
    color: var(--fc2);
    padding: 5px;
    border-radius: 5px;
}

.tasks-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    width: 1000px;
    overflow: auto;
    border: 1px solid black;
}

.remButt, .comButt {
    font-size: 5px;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 100%;
}

.remButt {
    background-color: rgb(255, 120, 120);
}
.comButt {
    background-color: rgb(218, 255, 163);
    
}
.incomplete {
    background-color: var(--bg1);
}

.completed {
    background-color: goldenrod;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg3);
}

li {
    list-style: none;
}

.task-items {
    padding: 5px 0 5px 0;
    display: flex;
    margin-top: 10px;
    width: 400px;
    height: 2rem;
    align-items: left;
    justify-content: left;
    border-radius: 10px;
}

.inp-sub {
    display: flex;
    align-items: center;
    
}

.tasklist {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}